/*
=== VARIABLES SCSS FILE ===
Type: Framework
Author: AshIgn
Description: List of variables used within all other scss files
*/

//*************************************************************************************/
// COLORS
//*************************************************************************************/
$lightGrey            : #f6f6f6;
$midGrey              : #cecece;
$darkGrey             : #a0a0a0;

$btn-default-bg          : #000000;
$btn-default-hover-bg    : #4c4c50;
$btn-default-color       : #ffffff;
$btn-default-hover-color : #ffffff;
//*************************************************************************************/
// FRAMEWORK
//*************************************************************************************/
$containerWidthLarge       : 1200;
$containerWidthDesktop     : 980;
$containerWidthTablet      : 720;
$containerWidthMobile      : auto;

$additionalBreakpointWidth : 20;
//*************************************************************************************/
// MARGINS AND PADDINGS
//*************************************************************************************/
$form-element-padding-top: 8px;
$form-element-padding-bottom: 8px;
$form-element-padding-left: 30px;
$form-element-padding-right: 30px;