/*
=== EDITOR SCSS FILE ===
Type: Module
Author: AshIgn
Description: Controls styles for elements and classes used for pages created within the admin section
*/
//*************************************************************************************/
// Styles here are only implemented to elements and classes within the #page-content id tag. 
//*************************************************************************************/
#page-content {
	background-color: #fff;
	padding: 20px 0;
	//*************************************************************************************/
	// COLUMNS
	//*************************************************************************************/
	.col-left {
		@extend #col-left-default;
	}
	.col-right {
		@extend #col-right-default;
	}
	//*************************************************************************************/
	// HEADERS
	//*************************************************************************************/
	h1,h2,h3,h4,h5,h6 {
		margin: 0.5em 0 0.8em;
	}
	//*************************************************************************************/
	// LISTS
	//*************************************************************************************/
	ul,ol {
		margin-left: 30px;
		margin-bottom: 10px;
	}
}